.hero-section-collection {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section-collection .logo {
    font-size: 5em;
    color: #f8f8f8;
    display: block;
    margin: auto;
    text-align: center;
}


@media (max-width: 600px) {
    .hero-section-collection {
        background-image: url(../img/header-2-responsive.jpg);
    }
    
}
