* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'reboto', sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #202121;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: #f8f8f8;
    z-index: 9;
}

.nav {
    width: 100%;
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.menu-item {
    background: url(/img/search.png) no-repeat;
    background-position: center;
    background-size: 30px;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu-item:nth-child(2) {
    background: url(/img/cart.png) no-repeat;
    background-position: center;
    background-size: 30px;
}

.menu-item:nth-child(3) {
    background: url(/img/menu.png) no-repeat;
    background-position: center;
    background-size: 30px;
    transition: 0.3s ease;
    filter: invert(1);
}

.menu-item:nth-child(3).active {
    z-index: 9;
    background: url(/img/close.png) no-repeat;
    background-position: center;
    background-size: 30px;
    transition: 0.3s ease;
    filter: invert(1);
}


.brand-logo {
    width: 50%;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-items a img {
    width: 2em;
}

.links-container {
    display: none;
}

.links-container.active {
    z-index: 8;
    position: fixed;
    background: #f8f8f8;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-container.active a {
    font-size: 2em;
    text-transform: uppercase;
    padding: 1em;
}

.link:hover {
    opacity: 1;
}
